<h1>Project show <%= @id %></h1>
<p>
	<%if Project.exists?(@id)%>
		<%= @project.title %> ==>
		<%= @project.description %>
	<%else%>
		<h3>There is no such project</h3>
	<%end%>
</p>
<p>
	<%= link_to("Back to projects", projects_path) %> / <%= link_to("show Project Entries", project_entries_path(@project.id)) %>  / <%= link_to("Edit Project", edit_project_path(@project.id)) %>  / <%= link_to("Delete Project", project_path(@project), method: :delete, data: {confirm: "Are you sure?"}) %>
</p>
<img src="http://aftonnegrea.com/wp-content/uploads/2013/06/original.gif" alt="">